{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	<h1>Pick a key<h1>
	<select id="selection">
		<option value="0">A</option>
		<option value="1">A# / B♭</option>
		<option value="2">B</option>
		<option value="3">C</option>
		<option value="4">C# / D♭</option>
		<option value="5">D</option>
		<option value="6">D# / E♭</option>
		<option value="7">E</option>
	</select> 

</body>
</html>

<script type="text/javascript" src="{% static 'js/jquery-2.2.0.js' %}"></script>
<script src="{% static 'js/wad.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
