{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	<h1>Pick a key<h1>
	<select id="selection" onchange="setKey()">
		<option value="A4">A</option>
		<option value="A#4">A# / B♭</option>
		<option value="B4">B</option>
		<option value="C4">C</option>
		<option value="C#4">C# / D♭</option>
		<option value="D4">D</option>
		<option value="D#4">D# / E♭</option>
		<option value="E4">E</option>
	</select> 

</body>
</html>

<script type="text/javascript" src="{% static 'js/jquery-2.2.0.js' %}"></script>
<script src="{% static 'js/wad.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
